*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #fff;
}

#nav-bar a{
    padding: 0 0.5rem;
    margin-left: 2rem;

}
main {
  min-height: 1200px;
}
main, footer {
  position: relative;
  top: 120px;
}

@media screen and (max-width: 650px){
    #header{
        flex-direction: column;
    }
    #nav-bar{
        margin-top: 10px;
    }
    
}
